@page
@{
    ViewData["Title"] = "iGaming Live Dealer Casino Software Game Providers API Integration";
}



<!-- INTRO -->
<div id="home" class="hero-area">
    <!-- Backgound Image -->
    <div class="bg-image bg-parallax overlay"
         style="
          background-image: url(asserts/images/roulette-gambling-table.jpg);
        "></div>
    <!-- /Backgound Image -->
    <div class="home-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="white-text">Best iGaming Aggregator - 568WIN</h1>
                    <p class="lead white-text">Let's meet 568WIN in Ice London !!</p>
                    <p class="lead white-text">
                        Software for online casinos and bookmaking websites.<br />
                        Create your own white labels platform in seconds through our Total Solution.<br />
                        Integrate popular gameprovider into your platform through our One Time API Solution
                    </p>
                    <a class="main-button icon-button" asp-page="/contact-us"> Contact us</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="why-us" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="section-header text-center">
                <h2>FACTS & FIGURES</h2>
                <p class="lead">
                    568WIN is a leading iGaming supplier providing powerful solutions <br />
                </p>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="feature">
                        <i class="feature-icon fa fa-globe"></i>
                        <div class="feature-content">
                            <h4>20+</h4>
                            <p>Country</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="feature">
                        <i class="feature-icon fa fa-users"></i>
                        <div class="feature-content">
                            <h4>1,200,000+</h4>
                            <p>Active Players</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="feature">
                        <i class="feature-icon fa fa-dashboard"></i>
                        <div class="feature-content">
                            <h4>Billion+</h4>
                            <p>Monthly Bet Count</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="feature">
                        <i class="feature-icon fa fa-sitemap"></i>
                        <div class="feature-content">
                            <h4>5000+</h4>
                            <p>Web Sites</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding: 10px 0">
                <div class="col-md-3 d-none d-lg-block">
                    <div class="feature">
                        <i class="feature-icon fa fa-user"></i>
                        <div class="feature-content">
                            <h4>400+</h4>
                            <p>Online Customers</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>

<hr class="area-hr" />

<!-- Courses -->
<div id="courses" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="section-header text-center">
                <h2>Explore Our Game Providers</h2>
                <p class="lead">
                    568WIN provides white label iGaming platform and One time API integration for tons of games<br />
                    (SportsBook, Casino, Slot, Acrade...)
                </p>
            </div>
        </div>
        <!-- /row -->
        <!-- courses -->
        <div id="courses-wrapper">
            <div class="row">
                <!-- single course -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="course">
                        <a asp-page="/game-providers/wan-mei" class="course-img">
                            <img src="asserts/images/Wan Mei.png" alt="Wan Mei" />
                            <i class="course-link-icon fa fa-link"></i>
                        </a>
                        <a class="course-title" asp-page="/game-providers/wan-mei">Wan Mei</a>
                        <div class="course-details">
                            <span class="course-category">Live Casino</span>
                        </div>
                    </div>
                </div>
                <!-- /single course -->
                <!-- single course -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="course">
                        <a asp-page="/game-providers/big-gaming" class="course-img">
                            <img src="asserts/images/Big Gaming.png"
                                 alt="Big Gaming.png" />
                            <i class="course-link-icon fa fa-link"></i>
                        </a>
                        <a class="course-title" asp-page="/game-providers/big-gaming">Big Gaming</a>
                        <div class="course-details">
                            <span class="course-category">Live Casino</span>
                        </div>
                    </div>
                </div>
                <!-- /single course -->
                <!-- single course -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="course">
                        <a asp-page="/game-providers/evolution-gaming" class="course-img">
                            <img src="asserts/images/Evolution Gaming.png"
                                 alt="Evolution Gaming" />
                            <i class="course-link-icon fa fa-link"></i>
                        </a>
                        <a class="course-title" asp-page="/game-providers/evolution-gaming">Evolution Gaming</a>
                        <div class="course-details">
                            <span class="course-category">Live Casino, Games</span>
                        </div>
                    </div>
                </div>
                <!-- /single course -->
                <!-- single course -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="course">
                        <a asp-page="/game-providers/green-dragon" class="course-img">
                            <img src="asserts/images/Green Dragon.png"
                                 alt="Green Dragon" />
                            <i class="course-link-icon fa fa-link"></i>
                        </a>
                        <a class="course-title" asp-page="/game-providers/green-dragon">Green Dragon</a>
                        <div class="course-details">
                            <span class="course-category">Live Casino, Games</span>
                        </div>
                    </div>
                </div>
                <!-- /single course -->
            </div>
        </div>
        <!-- /courses -->

        <div class="row">
            <div class="center-btn">
                <a class="main-button icon-button" asp-page="/game-providers">More Providers</a>
            </div>
        </div>
    </div>
    <!-- container -->
</div>

<div id="knowledgeBase" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="section-header text-center">
                <h2>Knowledge Base</h2>
            </div>
        </div>
        <!-- /row -->
        <!-- courses -->
        <div id="courses-wrapper">
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-default">
                        <a href="#" class="card-link">
                            <span class="card-img">
                                <img src="~/asserts/images/prototype/main-igaming-events-and-what-to-do-there_no-text-1102x320-1.png" class="img-responsive">
                            </span>
                            <span class="card-body">
                                <span class="h3 heading">Heading</span>
                                <p>A stitch in time saves nine.  All good things come to those who wait.  Too  many cooks spoil the broth.</p>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-default">
                        <a href="#" class="card-link">
                            <span class="card-img">
                                <img src="~/asserts/images/prototype/main-igaming-events-and-what-to-do-there_no-text-1102x320-1.png" class="img-responsive">
                            </span>
                            <span class="card-body">
                                <span class="h3 heading">Test1</span>
                                <p>A stitch in time saves nine.  All good things come to those who wait.  Too  many cooks spoil the broth.</p>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-default">
                        <a href="#" class="card-link">
                            <span class="card-img">
                                <img src="~/asserts/images/prototype/main-igaming-events-and-what-to-do-there_no-text-1102x320-1.png" class="img-responsive">
                            </span>
                            <span class="card-body">
                                <span class="h3 heading">Test3</span>
                                <p>A stitch in time saves nine.  All good things come to those who wait.  Too  many cooks spoil the broth.</p>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- container -->
</div>

<!-- /Courses -->
<!-- Call To Action -->
<div id="cta" class="section cta">
    <!-- Backgound Image -->
    <div class="bg-image bg-parallax overlay"
         style="background-image: url(asserts/images/listen_bg.jpg)"></div>
    <!-- /Backgound Image -->
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-6">
                <h1 class="white-text">LAUNCH YOUR IGAMING BUSINESS WITH 568WIN</h1>
                <p class="lead white-text">
                    We offer the best iGaming software and customer service<br />
                    Help you to overcome business challenges<br />
                </p>
                <a class="main-button icon-button" asp-page="/contact-us">Contact US Now!</a>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /Call To Action -->
